Alice Niemeyer <alice.niemeyer@mathb.rwth-aachen.de>
Alice Niemeyer <alice.niemeyer@mathb.rwth-aachen.de> <alice@maths.uwa.edu.au>
Alice Niemeyer <alice.niemeyer@mathb.rwth-aachen.de> <alice@df38db71-a120-0410-a579-d5571024c943>
Frank Lübeck <frank.luebeck@math.rwth-aachen.de>
Friedrich Rober <friedrich.rober@rwth-aachen.de> <37139927+FriedrichRober@users.noreply.github.com>
Leonard Sattler <leonard.sattler@rwth-aachen.de>
Madeleine Whybrow <mlw10@ic.ac.uk>
Max Neunhöffer <max@9hoeffer.de> neunhoef <neunhoef@df38db71-a120-0410-a579-d5571024c943>
Max Neunhöffer <max@9hoeffer.de> neunhoef <neunhoef@b73806f3-c920-0410-987c-ed5d942e0070>
Sergio Siccha <siccha@mathematik.uni-kl.de> <sergio.siccha@posteo.net>
Sergio Siccha <siccha@mathematik.uni-kl.de> <sergio.siccha@gmail.com>
