# Hints for J2:
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [2], dimensions := [36], 
       usemax := [ 1, 3, 4 ], 
       size := 604800, atlasrepnrs := [8], 
       values := [ [ 1, 100 ], [ 4, 315 ], [ 6, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [2], dimensions := [84], 
       usemax := [ 1, 5, 3 ], 
       size := 604800, atlasrepnrs := [9], 
       values := [ [ 6, 100 ], [ 9, 840 ], [ 16, 315 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [2], dimensions := [160], 
       usemax := [ 3, 4, 5 ], 
       size := 604800, atlasrepnrs := [10], 
       values := [ [ 4, 315 ], [ 6, 525 ], [ 9, 840 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [3], dimensions := [36], 
       usemax := [ 1, 3, 4 ], 
       size := 604800, atlasrepnrs := [11], 
       values := [ [ 1, 100 ], [ 4, 315 ], [ 6, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [3], dimensions := [63], 
       usemax := [ 1, 2, 4 ], 
       size := 604800, atlasrepnrs := [12], 
       values := [ [ 1, 100 ], [ 3, 280 ], [ 6, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [3], dimensions := [90], 
       usemax := [ 2, 3, 4 ], 
       size := 604800, atlasrepnrs := [13], 
       values := [ [ 3, 280 ], [ 4, 315 ], [ 6, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [3], dimensions := [133], 
       usemax := [ 4, 1, 5 ], 
       size := 604800, atlasrepnrs := [14], 
       values := [ [ 6, 525 ], [ 7, 100 ], [ 9, 840 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [3], dimensions := [225], 
       usemax := [ 4, 1, 5 ], 
       size := 604800, atlasrepnrs := [15], 
       values := [ [ 6, 525 ], [ 7, 100 ], [ 9, 840 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [4], dimensions := [6], 
       usemax := [ 4, 3, 5 ], 
       size := 604800, atlasrepnrs := [16], 
       values := [ [ 6, 525 ], [ 8, 315 ], [ 9, 840 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [4], dimensions := [14], 
       usemax := [ 3, 5, 6 ], 
       size := 604800, atlasrepnrs := [17], 
       values := [ [ 4, 315 ], [ 9, 840 ], [ 11, 1008 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [4], dimensions := [64], 
       usemax := [ 3, 5, 4 ], 
       size := 604800, atlasrepnrs := [18], 
       values := [ [ 8, 315 ], [ 9, 840 ], [ 12, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [14], 
       usemax := [ 3, 6, 4 ], 
       size := 604800, atlasrepnrs := [19], 
       values := [ [ 4, 315 ], [ 11, 1008 ], [ 12, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [21], 
       usemax := [ 2, 6, 3 ], 
       size := 604800, atlasrepnrs := [20], 
       values := [ [ 3, 280 ], [ 11, 1008 ], [ 12, 315 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [41], 
       usemax := [ 2, 1, 5 ], 
       size := 604800, atlasrepnrs := [21], 
       values := [ [ 3, 280 ], [ 7, 100 ], [ 9, 840 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [70], 
       usemax := [ 4, 6, 1 ], 
       size := 604800, atlasrepnrs := [22], 
       values := [ [ 6, 525 ], [ 11, 1008 ], [ 14, 100 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [85], 
       usemax := [ 6, 5, 7 ], 
       size := 604800, atlasrepnrs := [23], 
       values := [ [ 11, 1008 ], [ 18, 840 ], [ 18, 1800 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [90], 
       usemax := [ 2, 3, 4 ], 
       size := 604800, atlasrepnrs := [24], 
       values := [ [ 3, 280 ], [ 4, 315 ], [ 6, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [175], 
       usemax := [ 2, 4, 1 ], 
       size := 604800, atlasrepnrs := [25], 
       values := [ [ 3, 280 ], [ 6, 525 ], [ 7, 100 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [189], 
       usemax := [ 6, 3, 2 ], 
       size := 604800, atlasrepnrs := [26], 
       values := [ [ 11, 1008 ], [ 12, 315 ], [ 18, 280 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [225], 
       usemax := [ 4, 1, 5 ], 
       size := 604800, atlasrepnrs := [27], 
       values := [ [ 6, 525 ], [ 7, 100 ], [ 9, 840 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [5], dimensions := [300], 
       usemax := [ 1, 4, 2 ], 
       size := 604800, atlasrepnrs := [28], 
       values := [ [ 6, 100 ], [ 12, 525 ], [ 18, 280 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [7], dimensions := [36], 
       usemax := [ 1, 3, 4 ], 
       size := 604800, atlasrepnrs := [29], 
       values := [ [ 1, 100 ], [ 4, 315 ], [ 6, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [7], dimensions := [63], 
       usemax := [ 1, 2, 4 ], 
       size := 604800, atlasrepnrs := [30], 
       values := [ [ 1, 100 ], [ 3, 280 ], [ 6, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [7], dimensions := [89], 
       usemax := [ 5, 6, 4 ], 
       size := 604800, atlasrepnrs := [31], 
       values := [ [ 9, 840 ], [ 11, 1008 ], [ 12, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [7], dimensions := [101], 
       usemax := [ 1, 4, 3 ], 
       size := 604800, atlasrepnrs := [32], 
       values := [ [ 6, 100 ], [ 6, 525 ], [ 20, 315 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [7], dimensions := [124], 
       usemax := [ 4, 5, 6 ], 
       size := 604800, atlasrepnrs := [33], 
       values := [ [ 6, 525 ], [ 9, 840 ], [ 11, 1008 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [7], dimensions := [126], 
       usemax := [ 2, 4, 5 ], 
       size := 604800, atlasrepnrs := [34], 
       values := [ [ 3, 280 ], [ 6, 525 ], [ 9, 840 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [7], dimensions := [175], 
       usemax := [ 2, 4, 1 ], 
       size := 604800, atlasrepnrs := [35], 
       values := [ [ 3, 280 ], [ 6, 525 ], [ 7, 100 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [7], dimensions := [199], 
       usemax := [ 1, 4, 3 ], 
       size := 604800, atlasrepnrs := [36], 
       values := [ [ 6, 100 ], [ 12, 525 ], [ 20, 315 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [7], dimensions := [336], 
       usemax := [ 4, 5, 1 ], 
       size := 604800, atlasrepnrs := [37], 
       values := [ [ 6, 525 ], [ 9, 840 ], [ 14, 100 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [9], dimensions := [13], 
       usemax := [ 1, 4, 2 ], 
       size := 604800, atlasrepnrs := [38], 
       values := [ [ 3, 100 ], [ 6, 525 ], [ 9, 280 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [9], dimensions := [21], 
       usemax := [ 2, 1, 6 ], 
       size := 604800, atlasrepnrs := [39], 
       values := [ [ 3, 280 ], [ 6, 100 ], [ 11, 1008 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [9], dimensions := [57], 
       usemax := [ 1, 2, 6 ], 
       size := 604800, atlasrepnrs := [40], 
       values := [ [ 3, 100 ], [ 9, 280 ], [ 11, 1008 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [9], dimensions := [189], 
       usemax := [ 2, 6, 3 ], 
       size := 604800, atlasrepnrs := [41], 
       values := [ [ 9, 280 ], [ 11, 1008 ], [ 12, 315 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [49], dimensions := [14], 
       usemax := [ 3, 6, 4 ], 
       size := 604800, atlasrepnrs := [42], 
       values := [ [ 4, 315 ], [ 11, 1008 ], [ 12, 525 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [49], dimensions := [21], 
       usemax := [ 2, 6, 3 ], 
       size := 604800, atlasrepnrs := [43], 
       values := [ [ 3, 280 ], [ 11, 1008 ], [ 12, 315 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [49], dimensions := [70], 
       usemax := [ 4, 6, 1 ], 
       size := 604800, atlasrepnrs := [44], 
       values := [ [ 6, 525 ], [ 11, 1008 ], [ 14, 100 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [49], dimensions := [189], 
       usemax := [ 6, 3, 2 ], 
       size := 604800, atlasrepnrs := [45], 
       values := [ [ 11, 1008 ], [ 12, 315 ], [ 18, 280 ] ]
  ));
InstallAlmostSimpleHint( "J2", "StabChainHint",
  rec( name := "J2", fields := [49], dimensions := [224], 
       usemax := [ 6, 3, 4 ], 
       size := 604800, atlasrepnrs := [46], 
       values := [ [ 11, 1008 ], [ 12, 315 ], [ 12, 525 ] ]
  ));
